* {
	box-sizing: border-box;
}


.btn {
	background: #629ff8;
	border: 0;
	padding: 0 25px;
	border-radius: 5px;
	transition: 200ms ease-in-out;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .4px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	background: #2e7ee7;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	margin-right: 50px;
}

.input {
	margin-bottom: 20px;
	position: relative;
}

.input input {
	height: 40px;
	padding: 0 25px;
	border: 1px solid #b8b8bb;
	border-radius: 5px;
	width: 100%;
}


.input.error input {
	border-color: #eb5d5d;
}

.input.error .error-message {
	visibility: visible;
}

.error-message {
	left: 10px;
    position: absolute;
    background: #eb5d5d;
    color: white;
    height: 20px;
    padding: 0 10px;
    font-size: 12px;
    font-family: Arial;
    display: flex;
    align-items: center;
    bottom: -14px;
    border-radius: 5px;
    visibility: hidden;
}

.info {
	display: flex;
	margin-bottom: 40px;
}

.results {
	margin-left: 40px;
}

.info > * {
	flex: 1;
}